/* body {
    text-align: center;
    position: relative;
} */

#demo {
    color: black;
}

#h1 {
    color: grey;
}


#maindiv {
    margin-left: 35%;
}

#amount {
    margin-right: 70px;
}

#intrate {
    margin-right: 40px;
}

#y {
    margin-right: 40px;
}

